__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/
results/
*.log
dataset/all/

src/train/v1/checkpoints/*.pth
src/train/v1/checkpoints/*.pt
src/train/v1/checkpoints/*.ckpt
src/train/v1/checkpoints/*training_history.csv
src/train/v1/*.png
